@use './variables.scss' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: $primary-color;
}

.container{
  max-width: 1680px;
  margin: 0 auto;  
}